body {
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  background-image: url('https://storage.googleapis.com/generative-ai-hackathon/solution-challenge-2024/gemini-101/Singapore-Merlion-Marina-Bay.jpg');
  background-size: cover;
  background-position: center;
}
